{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create a new page</h1>


    {% if title_taken %}
        Error. This entry title is taken. Please add a different topic.
    {% elif not title_taken %}


        <div>
            <!-- <label for="title">Enter Title:</label> -->
            <!-- <input type="Text" placeholder="Title" name="title"> -->
            <br>
            <!-- <label for="content">Enter Content:</label> -->
                <div>
                    <!-- <textarea rows="5" cols="10" name="content"> -->
                    <form method="POST">
                        {% csrf_token %}
                        {{ new_page_form.as_p }}
                        <button type="submit">Save</button>
                    </form>

                </div>
                <br>
        </div>


    {% endif %}

    <!-- <ul>
        {% for entry in entries %}
            <li> 
                <a href="{% url 'encyclopedia:title' title=entry %}"> {{ entry }} </a>
            </li>
        {% endfor %}
    </ul> -->


{% endblock %}